body{
    background-image: url("https://i.pinimg.com/originals/4c/1c/53/4c1c530ab17ee69b91d9e3b9e70bdde1.jpg");
    background-size: cover;
}

.cool{
    margin-left: 800px;
}

.undone{
    background: none;
    border: 1px solid blue;
    transition: 1.5s;
    cursor: pointer;
    color: blue;
}

.done{
    background: none;
    border: 1px solid blue;
    transition: 1.5s;
    cursor: pointer;
    color: blue;
}

.undone:hover{
    background: blue;
    border-color:white;
    color: white;
}

.done:hover{
    background: blue;
    border-color:white;
    color: white;
}

.fun{
    background: none;
    border: 1px solid blue;
    transition: 1.5s;
    cursor: pointer;
    color: blue;
}

.fun:hover{
    background: blue;
    border-color:white;
    color: white;
    margin-bottom: 20px;
}
