body{
    margin: 0;
    padding: 0;
    font-weight: Century Gothic;
    background-image: url("https://s1.1zoom.me/big3/805/Canada_Parks_Forests_Winter_Sunrises_and_sunsets_541804_3400x2000.jpg");
    background-size: cover;
}

.container{
    height: 75vh;
    width: 30%;
    background: rgba(0, 0, 0, .6); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
}

.img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-position: center;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5ff9cd-a751-4cd4-b9c5-00aa21620b7b/deu3q3u-6f1ca041-b5b7-46d7-ab06-f8547a7114cc.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVlNWZmOWNkLWE3NTEtNGNkNC1iOWM1LTAwYWEyMTYyMGI3YlwvZGV1M3EzdS02ZjFjYTA0MS1iNWI3LTQ2ZDctYWIwNi1mODU0N2E3MTE0Y2MuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eVc40aeMVJw81r_zEtbc6BofvzWkBAP31N41tZtul7I");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s;
}

   
.container h1{
    color: white;
    margin-top: 50px;
}
.container p{
    color: white;
    margin-top: 60px;
}
.idkkk{
    border: 1px solid blue;
    color:blue; 
    margin-left: 1400px; 
    margin-top: 25px;
    transition: 1s;
    background: none;
}
.idkkk:hover{
    color: white;
    margin-left: 1400px; 
    margin-top: 25px;
    background: blue;
    border: 1px solid white;
}